<ion-content [fullscreen]="true" class="bg">
  <div class="wrapper">
    <h1 class="title">Seleccionar hijo</h1>

    <ion-card>
      <ion-card-content>

        <ng-container *ngIf="!cargando && hijos.length; else vacio">
          <ion-list>
            <ion-radio-group
              [value]="selectedHijoId"
              (ionChange)="onRadioChange($event)"
              [allowEmptySelection]="false">   <!-- <== BOOLEANDO -->

              <!-- quita el (click) del ion-item -->
              <ion-item class="radio-pill" *ngFor="let h of hijos" lines="none">
                <ion-label>
                  <div class="hijo-nombre">{{ h.nombre }}</div>
                  <div class="hijo-sub" *ngIf="h.edad !== undefined && h.edad !== null">
                    Edad: {{ h.edad }} año{{ h.edad === 1 ? '' : 's' }}
                  </div>
                </ion-label>

                <ion-radio class="square-radio" slot="end" [value]="h.hijoId"></ion-radio>
              </ion-item>

            </ion-radio-group>
          </ion-list>

          <ion-button
            expand="block"
            class="btn-primary"
            type="button"                     <!-- <== evita submit raros -->
            (click)="confirmarSeleccion()"
            [disabled]="!selectedHijoId">     <!-- más claro -->
            Continuar
          </ion-button>
        </ng-container>

        <ng-template #vacio>
          <div class="empty">
            <p *ngIf="cargando">Cargando…</p>
            <ng-container *ngIf="!cargando">
              <p>No tienes hijos registrados.</p>
              <ion-button routerLink="/inicio/crear-hijo" expand="block" class="btn-primary">
                Crear hijo
              </ion-button>
            </ng-container>
          </div>
        </ng-template>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>