<app-header-bar></app-header-bar> 

<ion-content [fullscreen]="true" >
  <ion-grid class="md-grid">
    
    <!-- Filtros de búsqueda -->
    <ion-card >
      <ion-card-header>
        <ion-card-title>Filtros de búsqueda</ion-card-title>
      </ion-card-header>
  <!-- Filtros -->
      <ion-card-content>
        <ion-row class="md-filtros ion-align-items-end">
        <ion-col size="12" sizeMd="3">
          <ion-item >
              <ion-label position="stacked"><strong>Desde</strong></ion-label>
              <ion-input type="date"  [max]="todayIso" [(ngModel)]="desdeISO"></ion-input>
          </ion-item>
        </ion-col>
        
        <ion-col size="12" sizeMd="3">
          <ion-item >
              <ion-label position="stacked"><strong>Hasta</strong></ion-label>
              <ion-input type="date"  [max]="todayIso" [(ngModel)]="hastaISO"></ion-input>
          </ion-item>
        </ion-col>
        
          <ion-col size="12" sizeMd="3">
          <ion-item >
            <ion-label position="stacked">Vista</ion-label>
            <ion-select interface="popover" [(ngModel)]="vista" (ionChange)="onVistaChange()">
                <ion-select-option value="semanal">Semanal</ion-select-option>
                <ion-select-option value="mensual">Mensual</ion-select-option>
                <ion-select-option value="anual">Anual</ion-select-option>
            </ion-select>
            </ion-item>
          </ion-col>
          

          <ion-col size="12" sizeMd="3" class="md-filtros-acciones">
          <ion-button expand="block" fill="outline" (click)="limpiarFiltros()">
            Limpiar
          </ion-button>
          <ion-button expand="block" (click)="aplicarFiltros()">
            Aplicar
          </ion-button>
        </ion-col>
      </ion-row>
      </ion-card-content>
    </ion-card>

    <swiper-container
  slides-per-view="1"
  space-between="12"
  pagination="true"
  navigation="true"
  style="--swiper-pagination-color:#666; --swiper-navigation-color:#666;"
>
      <swiper-slide>
          <!-- Gráfico 1: Línea -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Minutos por día</ion-card-title>
          </ion-card-header>
          <ion-card-content style="height: 260px;">
            <canvas id="actChartLinea"></canvas>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
  

      <swiper-slide>
        <!-- Gráfico 2: Torta -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Distribución por tipo de ejercicio</ion-card-title>
          </ion-card-header>
          <ion-card-content style="height: 260px;">
            <canvas id="actChartTorta"></canvas>
          </ion-card-content>
        </ion-card>

      </swiper-slide>

      <swiper-slide>
        <!-- Gráfico 3: Barras -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Promedio mensual de minutos</ion-card-title>
          </ion-card-header>
          <ion-card-content style="height: 260px;">
            <canvas id="actChartBarras"></canvas>
          </ion-card-content>
        </ion-card>

      </swiper-slide>
    </swiper-container>

    

    <!-- Historial -->
      <ion-card class="panel-card">
        <ion-card-header>
          <ion-card-title>Historial</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button expand="block"  class="btn-add" (click)="irAgregar()">Agregar actividad</ion-button>
           <div class="historial-scroll">
             <ng-container *ngFor="let a of actividades; trackBy: trackById">
              <ion-item class="hist-item" lines="none">
                 <ion-label>
                  <div><strong>{{ a.fecha | date:'dd-MM-yyy' }}</strong></div>
                   <div>Minutos: {{ a.duracionMin }} <ng-container *ngIf="a.tipoNombre"> • {{ a.tipoNombre }}</ng-container></div>
                 </ion-label>
                 <ion-buttons slot="end">
                    <ion-button fill="clear" (click)="irEditar(a.actividadId)">
                      <img src="assets/icon/EditarIcono.png" class="action-icon" alt="Editar">
                    </ion-button>
                    <ion-button fill="clear" color="danger" (click)="confirmarEliminar(a.actividadId)">
                       <img src="assets/icon/EliminarIcono.png" class="action-icon" alt="Eliminar">
                    </ion-button>
                  </ion-buttons>
              </ion-item>
             </ng-container>
           </div>
        </ion-card-content>
      </ion-card>
  </ion-grid>
</ion-content>
