<app-header-bar></app-header-bar>
<ion-content [fullscreen]="true" class="bg">
  <ion-card>
   <div class="wrapper">
    <h1 class="title">Editar Hijo</h1>
    <ion-card-content>
    <form [formGroup]="form" (ngSubmit)="guardar()">
        <!-- RUT (con máscara y validación) -->
        <ion-item lines="none">
          <ion-label position="stacked">RUT</ion-label>
        <ion-input formControlName="rutFull" (ionBlur)="onRutBlur()" placeholder="12.345.678-9"></ion-input>

        </ion-item>
        <ion-note color="danger" *ngIf="form.get('rutFull')?.touched && form.get('rutFull')?.hasError('rut')">
          RUT inválido.
        </ion-note>

        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Apellido paterno</ion-label>
          <ion-input formControlName="apPaterno"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Apellido materno (opcional)</ion-label>
          <ion-input formControlName="apMaterno"></ion-input>
        </ion-item>
    
        <ion-item lines="none">
        <ion-label position="stacked">Fecha de Nacimiento</ion-label>
         <ion-input 
              type="date"  
              [max]="todayIso" 
              presentation="date"
              preferWheel="true"
              autocomplete="off" 
              id="dt" 
              formControlName="fechaNac" >
          </ion-input>
       </ion-item>

        <ion-button expand="block" type="submit" [disabled]="guardando || form.invalid">
          Guardar
        </ion-button>

        <ion-button expand="block" type="submit"  fill="outline" [routerLink]="['/perfil']">
          Cancelar
        </ion-button>
      </form>
    </ion-card-content>
 
  </div>
   </ion-card>
</ion-content>
