ion-content { --background: #F8F4E6; }
ion-item { --background: #fff; border-radius: 12px; margin-top: 8px; }
ion-button { --background: #6EC8D2; --border-radius: 14px; }
.mt-8 { margin-top: 8px; }
.mt-16 { margin-top: 16px; }

/* Logo grande, casi al límite visual del contenedor */
.logo-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: .6rem;
  margin-top: 6px;
  margin-bottom: 18px;

  .logo {
    width: 220px;     /* antes 88px */
    height: 220px;    /* antes 88px */
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 10px 26px rgba(0,0,0,.10);
  }
  .app-title { font-weight: 800; margin: 0; color: #5F5F5F; }
}

/* Botón texto Ver/Ocultar */
.toggle-btn {
  --padding-start: 10px;
  --padding-end: 10px;
  color: #2b7a78;
  font-weight: 600;
  
  text-transform: none;
}

.create-wrap {
  margin-top: 12px;
  text-align: center;

  .link-like {
    background: transparent;
    border: none;
    color: #2b7a78;
    text-decoration: underline;
    font-size: .95rem;
  }
}
