<app-header-bar></app-header-bar>
<ion-content [fullscreen]="true" class="bg">
  <div class="wrapper">
   <h1 class="title">Perfil padre</h1>
  <ion-card>
    
    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="guardarPerfil()">
        <ion-item lines="none">
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input formControlName="nombre" placeholder="Nombre"></ion-input>
        </ion-item >
        <ion-note color="danger" *ngIf="hasError('nombre','required')">Obligatorio.</ion-note>

        <ion-item lines="none">
          <ion-label position="stacked">Correo</ion-label>
          <ion-input formControlName="correo" type="email" placeholder="tucorreo@dominio.com"></ion-input>
        </ion-item>
        <ion-note color="danger" *ngIf="hasError('correo','email')">Correo inválido.</ion-note>

        <ion-item lines="none">
          <ion-label position="stacked">Teléfono</ion-label>
          <ion-input formControlName="telefono" inputmode="tel" placeholder="Ej: 9 8765 4321"></ion-input>
        </ion-item>
        <!-- <ion-note color="medium">Usa tu número móvil con WhatsApp si deseas.</ion-note> -->

        <ion-button class="mt" expand="block" type="submit" [disabled]="form.invalid || guardandoPerfil">
          {{ guardandoPerfil ? 'Guardando…' : 'Guardar cambios' }}
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <div class="row-between">
        <ion-card-title>Hijos</ion-card-title>
        <ion-button size="small" (click)="agregarHijo()">Agregar hijo</ion-button>
      </div>
    </ion-card-header>

<ion-card-content>
  <ion-list *ngIf="hijos.length; else sinHijos">
    <ion-item-sliding *ngFor="let h of hijos">
      <ion-item lines="none">
        <ion-label>
          <h2>
            {{ h.nombre }} {{ h.apellidoPaterno }}
            <span *ngIf="h.apellidoMaterno"> {{ h.apellidoMaterno }}</span>
          </h2>
          <p>Edad: {{ h.edad }}</p>
        </ion-label>

        <!-- Botones: hermanos del label y con slot="end" -->
        <ion-button fill="clear" slot="end" class="action-btn-white" (click)="editarHijo(h)" aria-label="Editar hijo">
          <img src="assets/img/EditarIcono.png" class="action-icon" alt="Editar" />
        </ion-button>

        <ion-button fill="clear" slot="end" color="danger" class="action-btn" (click)="eliminarHijo(h)" aria-label="Eliminar hijo">
          <img src="assets/img/EliminarIcono.png" class="action-icon" alt="Eliminar" />
        </ion-button>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ng-template #sinHijos>
    <ion-text color="medium">Aún no has registrado hijos.</ion-text>
  </ng-template>
</ion-card-content>


  </ion-card>
</div>  
</ion-content> 
