ion-header {
  --background: #f8f4e6;
}
.home-btn {
  --padding-start: 0;
  --padding-end: 0;
  --background: transparent; // sin fondo
  --ripple-color: transparent; // opcional, sin ondina
}

.home-icon {
  width: 38px;   // ajusta al tamaño que te guste (24–28 suele verse bien)
  height: 24px;
  display: block;
  object-fit: contain;
}
