ion-card { margin-bottom: 16px; }
.bg {
  --background: #f7f4e8;
}

.wrapper {
  max-width: 520px;
  margin: 24px auto 40px;
  padding: 16px;
}

.title {
  text-align: center;
  margin: 0 0 10px;
  font-weight: 700;
}



/* Inputs tipo tarjeta */
ion-item {
  --background: #fff;
  border-radius: 10px;
  margin: 8px 0;
  box-shadow: 0 2px 6px rgba(0,0,0,.06);
}
ion-note {
  margin: -4px 6px 6px 6px;
  display: block;
}
ion-item.fecha-item-fecha {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}


/* Botones */
.btn-primary {
  --background: #6EC8D2;      /* color primario que usas */
  --background-activated: #56b8c3;
  margin-top: 12px;
}

ion-button[fill="outline"] {
  --border-color: #6EC8D2;
  color: #ffffff;
  margin-top: 8px;
}

