<app-header-bar></app-header-bar>


<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Peso</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <apx-chart
        [series]="peso.series"
        [chart]="peso.chart"
        [stroke]="peso.stroke"
        [xaxis]="peso.xaxis"
        [grid]="peso.grid"
        [title]="peso.title">
      </apx-chart>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>IMC</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <apx-chart
        [series]="imc.series"
        [chart]="imc.chart"
        [stroke]="imc.stroke"
        [xaxis]="imc.xaxis"
        [grid]="imc.grid"
        [title]="imc.title">
      </apx-chart>
    </ion-card-content>
  </ion-card>
</ion-content>
